.logo {
  height: 21vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.header {
  background-color: darkgoldenrod;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 15, 13);
}

div {
  display: flex;
  flex-direction: column;
}

div a:hover {
  color: black;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
